.drive-container {
  height: 100%;
  position: relative;
}

.drive-modal {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_container {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  width: 100%;
  background-color: rgb(var(--color-light-black));
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
  border-radius: 12px;
}
.modal_container h1 {
  font-size: 1.4rem;
  font-weight: 100;
  margin-bottom: 10px;
  cursor: default;
}
.modal_container input {
  background-color: transparent;
  width: 100%;
  font-size: 1rem;
  border-radius: 4px;
  padding: 10px;
  height: 100%;
  background-color: rgb(var(--color-black));
  border: 1px solid transparent;
  color: rgb(var(--color-input));
}
.modal_container input:focus {
  border-color: rgb(var(--color-light-grey));
}
.modal_container button {
  width: fit-content;
  margin-left: auto;
  color: rgb(7, 149, 231);
  background-color: transparent;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px;
}
.modal_container button:hover {
  background-color: rgba(7, 149, 231, 0.1);
}

.drive_btn {
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.drive_btn svg {
  stroke: rgb(var(--color-white));
}
.drive_btn:hover {
  background-color: rgb(var(--color-grey));
}
